@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600:700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;500;700;900&display=swap");
html, bopdy {
  color: #191919;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 16px;
  border-radius: 25px;
}
.btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 16px;
  border-radius: 25px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}

.btn-black {
  background-color: #191919;
  border: 1px solid #191919;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 16px;
  border-radius: 25px;
}
.btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-black:hover {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
}

.btn-round {
  background-color: #FFFFFF;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  font-weight: 16px;
  border-radius: 50px;
  padding: 12px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}
.btn-round i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-round:hover {
  background-color: #191919;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

.section-title {
  padding-top: 70px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section-title {
    padding-top: 120px;
    padding-bottom: 90px;
  }
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.section-title p {
  color: #F94D1C;
  margin-bottom: 10px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 70px;
}
header .container .menu-bars {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #DAD9D3;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: space-between;
  }
}
header .container .menu .top-menu .contact-information {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: flex;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .menu .top-menu .contact-information .content-box i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .menu .top-menu .contact-information .content-box.last {
  border: none;
}
header .container .menu .top-menu .social-media a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10x;
}
header .container .menu .top-menu .social-media a:hover {
  color: #7c7c7c;
}
header .container .menu .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
header .container .menu .main-menu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 35px;
  position: relative;
}
header .container .menu .main-menu nav a.active {
  font-weight: 500;
}
header .container .menu .main-menu nav a.active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .container .menu .main-menu .btn-login {
  padding-top: 12px;
  padding-bottom: 13px;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .showcase .container .content {
    text-align: left;
  }
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 86px;
  }
}
.showcase .container .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.showcase .container .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 10px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.grid-1 .parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.grid-1 .parent .child {
  padding: 20px;
  justify-content: space-evenly;
}

.trusted-companies .container .grid-container {
  display: grid;
  grid-template-columns: 35% auto auto;
  gap: 2rem 5rem;
}
.trusted-companies .container .grid-item .btn-yellow {
  background-color: #F9D783;
  border: 1px solid #F9D783;
  color: #191919;
  text-decoration: none;
  text-align: center;
  padding: 12px 170px;
  font-family: "Inter", sans-serif;
  font-weight: 16px;
  font-size: 16px;
  border-radius: 25px;
}
.trusted-companies .container .grid-item .btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}
.trusted-companies .container .grid-item .btn-yellow:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
}
.trusted-companies .container .grid-item h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  font-weight: bold;
  color: #191919;
}
.trusted-companies .container .grid-item p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  text-align: left;
  color: #f94d1c;
}
.trusted-companies .container .grid-item-2 {
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
}
.trusted-companies .container .grid-item-2 h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
}
.trusted-companies .container .grid-item-2 p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}
.trusted-companies .container .section-title {
  text-align: left;
  padding-top: 10px;
}
.trusted-companies .container i {
  margin-bottom: 20px;
}
.trusted-companies .consulting-credits {
  background-color: #F0EFE9;
}
.trusted-companies .consulting-credits .consulting-credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trusted-companies .consulting-credits .consulting-credits .content {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
@media (min-width: 1200px) {
  .trusted-companies .consulting-credits .consulting-credits .content {
    text-align: left;
  }
}
.trusted-companies .consulting-credits .consulting-credits .content h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}
@media (min-width: 768px) {
  .trusted-companies .consulting-credits .consulting-credits .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .trusted-companies .consulting-credits .consulting-credits .content h1 {
    font-size: 86px;
  }
}
.trusted-companies .consulting-credits .consulting-credits .content p {
  font-size: 18px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .trusted-companies .consulting-credits .consulting-credits .content p {
    font-size: 20px;
    padding-left: 0;
    padding-right: 0;
  }
}
.trusted-companies .consulting-credits .consulting-credits .content a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .trusted-companies .consulting-credits .consulting-credits .content a {
    display: inline-block;
    margin-right: 10px;
  }
}
.trusted-companies .consulting-credits .consulting-credits img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .trusted-companies .consulting-credits .consulting-credits img {
    display: block;
  }
}

.about-company {
  display: flex;
}
.about-company .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 200px;
}
.about-company .container .about-company-left {
  margin-left: 50px;
  width: 33.3em;
}
.about-company .container .about-company-left .image-1 {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
@media (min-width: 1200px) {
  .about-company .container .about-company-left .image-1 {
    display: block;
    width: 533px;
    height: 615px;
  }
}
.about-company .container .about-company-left .image-2 {
  position: relative;
  bottom: 240px;
  right: 95px;
}
.about-company .container .about-company-right {
  width: 33.3em;
  text-align: left;
  padding-left: 10px;
}
.about-company .container .about-company-right .bad-hack {
  display: flex;
}
.about-company .container .about-company-right h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  font-style: normal;
  padding-top: 4px;
  padding-bottom: 10px;
  color: #191919;
}
.about-company .container .about-company-right p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  font-style: normal;
  color: rgba(25, 25, 25, 0.7);
  padding-bottom: 50px;
}
.about-company .container .about-company-right #p-2 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  font-style: normal;
  color: #f94d1c;
}
.about-company .container .about-company-right a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .about-company .container .about-company-right a {
    display: inline-block;
    margin-right: 10px;
  }
}
.about-company .container .about-company-right .btn-black {
  background-color: #191919;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 16px;
  border-radius: 25px;
}
.about-company .container .about-company-right .btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.about-company .container .about-company-right .btn-black:hover {
  background-color: #1f442b;
  border: 1px solid #191919;
  color: #191919;
}

.our-services {
  background-color: #F0EFE9;
}
.our-services .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 40px;
}
.our-services .container #p-2 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  font-style: normal;
  color: #f94d1c;
}
.our-services .container .services {
  display: grid;
}
.our-services .container .services h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  font-style: normal;
  padding-top: 4px;
  padding-bottom: 10px;
  color: #191919;
}
.our-services .container .services p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  font-style: normal;
  color: rgba(25, 25, 25, 0.7);
  padding-bottom: 50px;
}
.our-services .container .services a {
  margin-right: 0px;
  display: block;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .our-services .container .services a {
    display: inline-block;
    margin-right: 10px;
  }
}
.our-services .container .services .btn-black {
  background-color: #191919;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  font-weight: 16px;
  border-radius: 25px;
}
.our-services .container .services .btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}
.our-services .container .services .btn-black:hover {
  background-color: #1f442b;
  border: 1px solid #191919;
  color: #191919;
}

.project-and-case .container .section-title {
  text-align: center;
}
.project-and-case .container .project-and-cases {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 768px) {
  .project-and-case .container .project-and-cases {
    grid-template-columns: 1fr 1fr;
  }
}
.project-and-case .container .project-and-cases article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.project-and-case .container .project-and-cases article img {
  width: 100%;
  height: auto;
}
.project-and-case .container .project-and-cases article h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 22px;
  padding-top: 35px;
  padding-bottom: 16;
  border-bottom: 1px solid #DAD9D3;
}
.project-and-case .container .project-and-cases article a {
  padding: 15px;
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #191919;
}
.project-and-case .container .project-and-cases article a i {
  margin-left: 3px;
}
.project-and-case .container .center-content {
  margin-top: 50px;
  margin-bottom: 90px;
}