header {
    background-color: #F0EFE9;
    padding: 16px;
      
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;

        .menu-bars {
            border: none;
            font-size: 25px;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        } 

        .menu {
            display:none;
            flex: 1; // FÖr att få det gå hela vägen till loggan.

            @media (min-width: 992px) {
                display: block;
            }

            .top-menu {
                display: flex;
                justify-content: space-between;

                // Man kan tillfälligt lägga till borders för att se vart man grejar.
                border: 1px solid black;
            }
        } 

    }
    
}
